body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: cornsilk; */
    background-color: black;
    background-image: url(hacker-infiltrate-mind-iiypdl5lb9mwcv9f.jpeg);
}

.container input {
    margin-bottom: 10px;
    background-color: lightcyan;
    border-width: 3px;
    border-color: red;
    width: 520px;
    height: 30px;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

}

.counter button {
    margin-right: 10px;
    margin-left: 5px;
    /* background-color: lightcyan; */
    color: white;
    background-color: black;
    border-color: red;
    border-width: 5px;
    width: 240px;
    height: 30px;

}